.htaccess
wp-config.php
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
uploads/backupbuddy_temp/
uploads/backupbuddy_backups/
uploads/pb_backupbuddy/
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
.DS_Store

